/* varables */
:root {
    --light: white;
    --dark: black;
    --dark2: rgb(50, 50, 50);
    --accent: DarkGoldenRod;
    --accent2: rgba(184, 135, 11, 0.25);
}

/* font styles */
h1 {
    font-size: 3em;
    padding: 25px;
}

h2 {
    font-size: 2em;
    padding: 25px;
}

p {
    font-size: 24px;
    line-height: 1.25;
}

/* page styles */
header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    text-align: right;
    background: linear-gradient(white, rgba(255, 255, 255, 0));
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 0px 25px 25px 25px;
}

#tagline {
    font-weight: normal;
}

button {
    padding: 15px 30px;
    margin: 30px;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid var(--accent);
    background-color: var(--light);
    text-align: center;
    color: var(--dark);
}

button:hover {
    background-color: var(--accent);
    color: var(--light);
    cursor: pointer;
}

a {
    padding: 15px 30px;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid var(--accent);
    background-color: var(--light);
    color: var(--dark);
    text-decoration: none;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: var(--accent);
    color: var(--light);
    cursor: pointer;
}

#timer {
    color: var(--accent);
}

#quiz {
    width: 80%;
    margin: auto;
}

#question {
    font-weight: normal;
}

#answers {
    display: flex;
    flex-direction: column;
}

.answer {
    font-size: 24px;
    font-weight: normal;
    width: 50%;
    margin: 10px auto;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    padding: 25px;
    background-color: var(--dark2);
    color: var(--light);
    box-shadow: inset 0px 5px 20px var(--dark);
}

#leaderboard {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 0px auto 100px auto;
    border-top: 1px solid var(--light);
    width: 792px;
}

li {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    border-bottom: 2px dotted var(--accent2)
}

input[type="text"] {
    border: none;
    
    margin: 25px auto 0px auto;
    font-size: 22px;
    align-items: center;
    text-align: center;
    padding: 15px 30px;
    width: 40%;
}

input[type="submit"] {
    padding: 15px 30px;
    margin: 30px;
    font-size: 22px;
    border: 1px solid var(--accent);
    background-color: var(--light);
    text-align: center;
    color: var(--dark);
}

input[type="submit"]:hover {
    background-color: var(--accent);
    color: var(--light);
    cursor: pointer;
}

input:focus {
    outline:none;
}

/* minus 10 animation */
.hidden {
    font-size: 2em;
    color: var(--light);
    transition: 0.5s;
}

#visible {
    font-size: 2em;
    color: red;
    line-height: 1.5;
}

#timeSpan {
    font-size: 6em;
    color: var(--accent);
    padding: 0px;
}


/* tablets */
@media screen and (max-width: 992px) {

    #quiz {
        width: 85%;
    }
    
    .answer {
        font-size: 24px;
        width: 75%;
    }

    #leaderboard {
        width: 75%;
    }

    input[type="text"] {
        width: 75%;
    }

}

/* large phones */
@media screen and (max-width: 768px) {

    header h2 {
        font-size: 2em;
    }

    p {
        font-size: 22px;
        line-height: 1.25;
    }

    button {
        font-size: 20px;
    }
    
    a {
        font-size: 20px;
    }

    #quiz {
        width: 90%;
    }
    
    .answer {
        font-size: 22px;
        width: 85%;
    }

    #leaderboard {
        margin: 0px auto 50px auto;
        width: 85%;
    }

    input[type="text"] {
        font-size: 22px;
    }
    
    input[type="submit"] {
        font-size: 20px;
    }

    input[type="text"] {
        width: 85%;
    }

}

/* small phones */
@media screen and (max-width: 576px) {

    header h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 20px;
        line-height: 1.25;
    }

    button {
        font-size: 18px;
    }
    
    a {
        font-size: 18px;
    }

    #quiz {
        width: 95%;
    }
    
    .answer {
        font-size: 20px;
        width: 85%;
    }

    input[type="text"] {
        font-size: 20px;
    }
    
    input[type="submit"] {
        font-size: 18px;
    }

}